* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

/* HEADER */
span {
  display: none;
}

.headerSimple {
  background: #fff;
}

.headerSimpleExtendido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #d7d7d7;
}

@media screen and (min-width: 1000px) {
  .headerSimpleExtendido {
    display: flex;
    flex-direction: row;
  }

  .menu_navbar ul {
    display: flex;
    flex-direction: row;
  }

  .menu_navbar img {
    display: none;
  }

  span {
    display: flex;
  }

  .icono_casa::after {
    content: "inicio";
    font-size: 20px;
  }

  .icono_lista::after {
    content: "Servicios";
    font-size: 20px;
  }

  .icono_maleta::after {
    content: "Nosotros";
    font-size: 20px;
  }

  .icono_mssg::after {
    content: "Contactar";
    font-size: 20px;
  }

  .headerSimple__logo {
    margin-right: 500px;
  }
}

.headerSimple__logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.menu_navbar ul,
li {
  list-style: none;
  padding: 20px;
}

.menu_navbar img {
  width: 50px;
}

/* CAROUSEL */
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1366px;
}

.contenido {
  display: flex;
  width: 800px;
  overflow: hidden;
  padding: 12px;
}

.carousel-item {
  flex: 1 0 33%;
  background: #0866c4;
  height: 150px;
  border-radius: 10px;
  margin: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-arrow {
  width: 50px;
  height: 50px;
  border: none;
}

.carousel-arrow-right {
  margin-left: 10px;
}

/* MAIN */
.primera_seccion_zigzag {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
  align-items: center;
}

.rectangulo_azul {
  width: 60%;
  height: 250px;
  background-color: #1077fffd;
}

.rectangulo_gris {
  width: 25%;
  height: 250px;
  background: grey;
}

.segunda_seccion {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-direction: row-reverse;
}

/* EMPLEADOS */
.titulo_seccion_circulos {
  display: flex;
  justify-content: center;
  text-align: center;
}

.seccion_circulos {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 40px;
}

.circulo_seccion {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #22a2f2;
}

/* FOOTER */
.footerSimple {
  background: #fff;
  margin-top: 200px;
}

.footerSimpleExtendido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #d7d7d7;
  padding-top: 10px;
}

@media screen and (min-width: 1000px) {
  .circulo_perfil {
    display: flex;
    justify-content: center;
  }

  .menu_navbar ul {
    display: flex;
  }
}

.footerSimple__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.menu_navbar ul,
li {
  list-style: none;
  padding: 30px;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

.footerSimple__copy {
  margin-bottom: 50px;
  font-size: 22px;
  color: #a4a4a4f8;
}

/* NOSOTROS PAGINA */
.parrafo {
  display: flex;
  justify-content: center;
  text-align: justify;
  padding-top: 12px;
  padding: 15px;
}

.comentarios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 200px;
  padding: 12px;
}

/* CONTACTAR PAGINA */
.form_parrafo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  margin-left: 300px;
}

.parrafoCP {
  margin: 50px;
}

input {
  height: 25px;
  background-color: #d7d7d7;
  border: none;
}

.comentario {
  height: 150px;
}

.btn_enviar {
  margin-top: 10px;
  width: 20%;
  background: #54f95f;
  border: none;
}
